.book-list{
  width:100%;
 display:flex;

}
.card-img-top{
  height:50%;
  width:70%;
  margin:2vh 5vh 2vh 3vh;
  border:1px solid;
}
.book{

width:30%;
float:left;
margin:5px;
}
.book-detail{

  width:100%;
 
  }

@media (max-width: 1200px){

  .book{
    width:40%;
}
}
@media (max-width: 780px){

  .book{
    width:100%;
}
}

